@import '../../styles/shared';

.header {
    padding-block-start: $gap-3;
    padding-block-end: $gap-3;
    background-color: $color-black;
    position: sticky;
    top: 0;
    z-index: 100;

    @include media-mobile {
        padding-block-start: $gap-1-5;
        padding-block-end: $gap-1-5;
        height: 48px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 104px;

        @include media-mobile {
            width: 71px;
        }
    }
}