@use '../../styles/shared' as *;

.hero {
    @include multiple-bg(
        $gradient-dark,
       image-set(url('../../assets/images/optimized1x/hero_1x.webp') 1x, url('../../assets/images/optimized2x/hero_2x.webp') 2x)
    );
    padding-block-start: $gap-7-5;
    padding-block-end: $gap-8;

    @include media-tablet {
        padding-block-start: $gap-3;
        padding-block-end: $gap-7-5;

        @include multiple-bg(
            $gradient-dark,
            image-set(url('../../assets/images/low-res/hero_tablet.webp') 1x, url('../../assets/images/optimized1x/hero_1x.webp') 2x)
        );
    }

    @include media-mobile {
        padding-block-start: 0;
        padding-block-end: $gap-5-5;

        @include multiple-bg(
            $gradient-dark,
            image-set(url('../../assets/images/low-res/hero_mobile.webp') 1x, url('../../assets/images/low-res/hero_tablet.webp') 2x)
        );
    }

    &__container {
        display: flex;
        align-items: center;
        gap: $gap-7;

        @include media-tablet {
           align-items: center;
        }

        @include media-mobile {
            flex-direction: column;
            gap: 0;
        }
    }

    &__content {
        flex: 1 0 693px;
        margin-block-start: $gap-4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 22px;

        @include media-tablet {
            margin-block-start: $gap-3;
            flex-basis: 411px;
        }

        @include media-mobile {
            text-align: center;
            gap: $gap-2;
            flex-basis: auto;
            align-items: center;
            margin-block-start: -$gap-1-5;
        }
    }

    &__title {
        &--highlight {
            color: $color-primary;
        }
    }

    &__subtitle {
        font-size: $font-size-xl;
        font-weight: $font-weight-extra-bold;
        font-synthesis: none;
        line-height: 1.2;

        @include media-tablet {
            font-size: $font-size-button;
        }

        @include media-mobile {
            font-size: $font-size-md;
        }

        &--highlight {
            color: $color-secondary;
        }
    }

    &__image {
        width: 330px;
        flex: none;

        @include media-tablet {
            transform: translateX(44px);
            width: 300px;
        }

        @include media-mobile {
            order: -1;
            transform: none;
            margin-block-start: -100px;
            margin-inline-start: -$gap-3;
        }
    }
}