@use '../../styles/shared' as *;

.hamburger {
    display: none;

    @include media-mobile {
        display: block;
    }

    &__button {
        display: flex;
        flex-direction: column;
        gap: 6px;
        box-shadow: 0px 4px 4px 0px colorAlpha($color-black, 0.4);


        & > div {
            width: 24px;
            height: 2px;
            background-color: $color-white;
            transition: $transition-base;
        }

        &:hover {
            & > div {
                background-color: colorAlpha($color-white, 0.6);
            }
        }

        & + .navigation {
            transition: $transition-base;
            transform: translateX(100%);

        }

        &--active {
            & > div {
                &:nth-of-type(1) {
                    transform: translateY(8px) rotate(45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }

            & + .navigation {
                transform: translateX(0);
            }
        }

    }
}