@use './shared' as *;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-primary;
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    line-height: 1.2;
    color: $color-white;
    background-color: $bg-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-extra-bold;
  font-synthesis: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: $transition-base;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
    transition: $transition-base;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
    padding: 0 30px;

    @include media-mobile {
       padding: 0 $gap-2-5;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}
