// COLORS
$color-primary: #FF70D9;
$color-secondary: #EBFF00;
$bg-primary: #304571;
$color-black: #000000;
$color-dark: #0F1420C9;
$color-white: #FFFFFF;
$color-gray: #A9B1C2;

// GRADIENTS
$gradient-dark: linear-gradient(180deg, rgba(0, 0, 0, 0) -0.52%, rgba(15, 20, 32, 0.79) 99.48%);


// FONT-FAMILY
$font-family-primary: 'Lato', sans-serif;


// FONT-SIZE
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-button: 1.375rem;
$font-size-xl: 2rem;
$font-size-xll: 2.25rem;
$font-size-xxl: 3rem;
$font-size-xxxl: 4rem;
$font-size-xxxxl: 4.5rem;

// FONT-WEIGHT
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-mobile: 360px;
$breakpoint-desktop: 1242px;

// TRANSITION
$transition-base: 0.3s ease-in-out;

// BORDER RADIUS
$border-radius-primary: 100px;
$border-radius-secondary: 10px;