@use '../../styles/shared' as *;

.offers {
    padding-block-start: 58px;
    padding-block-end: 62px;
    display: flex;
    flex-direction: column;
    gap: $gap-5;

    @include media-tablet {
        gap: $gap-4;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: $gap-5;

        & > *:nth-child(4n + 1),
        & > *:nth-child(4n + 4) {
          grid-column: span 2;

          @include media-tablet {
            grid-column: span 1
          }
        }

        @include media-mobile {
            grid-template-columns: minmax(0, 1fr);
        }
    }
}